[submodule "fmt"]
	path = fmt
	url = https://github.com/fmtlib/fmt.git
[submodule "argparse"]
	path = argparse
	url = https://github.com/p-ranav/argparse.git
[submodule "Ditto"]
	path = Ditto
	url = https://github.com/Javier-varez/Ditto.git
[submodule "json"]
	path = json
	url = https://github.com/nlohmann/json.git
